# Maven
target/
*.class
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.releaseBackup

# Secrets et configuration
.env
.env.local
application-prod.properties
application-local.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# Systeme
.DS_Store
Thumbs.db

# SonarQube
.sonar/
.scannerwork/
